.file-item {
  position: relative;
  margin-right: 15px;
  .file-box-wrapper {
    border-radius: 5px;
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    //cursor: pointer;
    .with-opacity {
      opacity: 0.8;
    }
    .icon-wrapper {
      img {
        width: 32px; height: 32px;
      }
    }
    .file-info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .file-title {
        font-weight: bold;
      }
    }
    .file-actions-wrapper {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      .action-point {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #c6c6c6;
        margin-bottom: 1px;
      }
    }
    .file-actions-content-wrapper {
      position: absolute;
      z-index: 2;
      right: 20px;
      width: 80%;
      background-color: #ffffff;
      box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
      border-radius: 5px;
    }
  }
}